<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tickets</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  
  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="static/style6.css">
  <style>
    /* Estilo para ocultar la barra de desplazamiento */
    body {
      overflow: hidden;
    }
  </style>
</head>
<body>

  <!-- Header -->
 
  <header class="header">
      <div class="row">
        <div class="col">
          <button class="btn btn-link btn-lg" onclick="goBack()">
            <i class="fas fa-arrow-left"></i> Regresar
          </button>
        </div>
        <div class="col text-center">
          <h1>Consultar Tickets</h1>
        </div>
        <div class="col">
          <!-- elementos al encabezado  -->
        </div>
      </div>
  </header>

   <!-- nav -->
   <nav class="navbar navbar-custom">
    <div></div>
    <div class="nav-btns">
      <a id="editProfileBtn" class="btn btn-outline-primary" href="/edit_profile"><i class="fas fa-user"></i> Administrar Perfil</a>
      <a id="consultarTicketsBtn" class="btn btn-outline-info" href="/consultar_tickets"><i class="fas fa-list-alt"></i> Consultar Tickets</a>
      <a id="reportesBtn" class="btn btn-outline-warning" href="/reportes"><i class="fas fa-chart-bar"></i> Reportes</a>
      <a id="departamentosBtn" class="btn btn-outline-success" href="/departamentos"><i class="fas fa-building"></i> Departamentos</a>
      <a id="gestionUsuariosBtn" class="btn btn-outline-danger" href="/gestion_usuarios"><i class="fas fa-users"></i> Gestión de Usuarios</a>
    </div>
  </nav>
  

  <!-- Contenido principal -->
  <div class="container mt-4">
   <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>N°ticket</th>
          <th>Autor</th>
          <th>Departamento</th>
          <th>Fecha</th>
          <th>Clasificación</th>
          <th>Detalle</th>
          <th>Status</th>
          <th>Asignar Auxiliar</th>
          <th>Cancelar</th>
          <th>Borrar</th>
          <th>Actualizar</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
    <tr>
      <td>{{ ticket[0] }}</td> <!-- Número de ticket -->
      <td>{{ ticket[1] }} {{ ticket[2] }}</td> <!-- Nombre y Apellido del cliente -->
      <td>{{ ticket[3] }}</td> <!-- Departamento -->
      <td>{{ ticket[4] }}</td> <!-- Fecha de expedición -->
      <td>{{ ticket[5] }}</td> <!-- Problema -->
      <td>{{ ticket[6] }}</td> <!-- Descripción del problema -->
      <td>{{ ticket[7] }}</td> <!-- Status -->
      <td>
        {% if ticket[7] == 'cancelado' %}
      
        <button class="btn btn-danger" onclick="confirmarEliminar('{{ ticket[0] }}')"><i class="fas fa-trash-alt"></i></button>
      
        {% else %}
          
          <select id="selectAuxiliar_{{ ticket[0] }}" class="form-control">
            <option value="">Seleccionar Auxiliar</option>
            {% for a in auxiliar %}
            <option value="{{ a[0] }}"> {{ a[0] }}-{{ a[1] }} {{ a[2] }}</option>
            {% endfor %}
          </select>

        {% endif %}
      </td>    
      
      <td><button class="btn btn-danger" onclick="confirmarCancelar('{{ ticket[0] }}')">Cancelar</button></td>
      <td><button class="btn btn-danger" onclick="confirmarEliminar('{{ ticket[0] }}')"><i class="fas fa-trash-alt"></i></button></td>
      <td><button class="btn btn-primary" onclick="actualizarTicket('{{ ticket[0] }}','{{ticket[7] }} ')">Actualizar</button></td>
      <td><button class="btn btn-success" onclick="mostrarModalComentarios('{{ ticket[0] }}')">Comentarios</button></td>
    </tr>
  {% endfor %}

    </table>
  </div>
  </div>

<!-- Enlace para abrir el modal -->
<a href="#comentariosModal" data-toggle="modal"></a>

  <!-- Modal para comentarios u observaciones -->
  <div class="modal fade" id="comentariosModal" tabindex="-1" role="dialog" aria-labelledby="comentariosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="comentariosModalLabel">Enviar Comentarios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Un solo formulario que contiene todos los campos -->
          <form id="form-comentarios">
            <div class="form-group">
              <label for="tipoUsuario">Seleccione el tipo de usuario:</label>
              <select class="form-control" id="tipoUsuario">
                <option value="cliente">Cliente</option>
                <option value="auxiliar">Auxiliar</option>
              </select>
            </div>

            <div class="form-group">
              <label for="ticket">Seleccione o ingrese el número de ticket:</label>
              <select class="form-control" id="ticket" onchange="checkOption(this)">
                  <option value="">Seleccionar</option>
                  <option value="ticket1">Ticket 1</option>
                  <option value="ticket2">Ticket 2</option>
                  <option value="ticket3">Ticket 3</option>
                  <!-- Opción para ingresar manualmente el número de ticket -->
                  <option value="ingresar">Buscar manualmente</option>
                  <!-- Aquí puedes cargar dinámicamente los tickets disponibles -->
              </select>
              <input type="text" class="form-control mt-2" id="numeroTicket" placeholder="Ingresar número de ticket" style="display:none;">
              <input type="hidden" id="id_ticket" name="id_ticket" value="">
            </div>

            <!-- Campo para ingresar comentarios -->
            <div class="form-group">
              <label for="comentarios">Comentarios/Observaciones:</label>
              <textarea class="form-control" id="comentarios" name="comentarios" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" onclick="enviarComentarios()">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="row">
      <div class="col-md-6 text-left">
        <p>© 2024 - Todos los derechos reservados</p>
      </div>
      <div class="col-md-6 text-right">
        <p>ENGINEERING <span class="resaltado">YOUR</span> SUCCESS.</p>
      </div>
    </div>
  </footer>  

  <!-- Bootstrap JS (jQuery debe incluirse antes) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Script personalizado -->

  <script>
    function confirmarCancelar(ticketId) {
      if (confirm('¿Seguro desea cancelar el ticket?')) {
        // Enviar una solicitud AJAX al servidor para cancelar el ticket
        fetch(`/cancelar_ticket/${ticketId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                alert('Ticket cancelado exitosamente');
                window.location.reload(); // Recargar la página después de la cancelación
            } else {
                alert('Hubo un error al cancelar el ticket.');
            }
        })
        .catch(error => console.error('Error:', error));
      }
    }
  
    function confirmarEliminar(ticketId) {
      if (confirm('¿Seguro desea eliminar el ticket?')) {
        // Enviar una solicitud AJAX al servidor para eliminar el ticket
        fetch(`/eliminar_ticket/${ticketId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                alert('Ticket eliminado exitosamente');
                window.location.reload(); // Recargar la página después de la eliminación
            } else {
                alert('Hubo un error al eliminar el ticket x.');
            }
        })
        .catch(error => console.error('Error:', error));
      }
    }

    function goBack() {
      window.history.back();
    }

    function assignAuxiliar(auxiliarId, ticketId) {
      // Aquí puedes enviar una solicitud AJAX al servidor para asignar el auxiliar al ticket
      console.log(`Ticket ${ticketId} asignado a auxiliar ${auxiliarId}`);
    }
  </script>

  <script>
    function mostrarModalComentarios(ticketId) {
      // Muestra el modal de comentarios
      $('#comentariosModal').modal('show');
      // Aquí puedes realizar acciones adicionales si es necesario, como cargar los comentarios del ticket seleccionado, etc.
    }
  </script>

  <script>
    function checkOption(select) {
        var option = select.value;
        var numeroTicketInput = document.getElementById('numeroTicket');

        if (option === 'ingresar') {
            numeroTicketInput.style.display = 'block';
        } else {
            numeroTicketInput.style.display = 'none';
        }
    }
  </script>


<script>
  function actualizarTicket(ticketId, status) {
    if (status === 'cancelado'){
      alert('no puedes actualizar un ticket cancelado');
      return;
    }

      var selectElement = document.getElementById('selectAuxiliar_' + ticketId);
      var selectedAuxiliar = selectElement ? selectElement.value : null;

      if (!selectedAuxiliar) {
          alert('Por favor, seleccione un auxiliar para asignar el ticket');
          return;
      }

      // Información a enviar al backend
      var data = {
          ticketId: ticketId,
          auxiliar: selectedAuxiliar,
          status: 'asignado'
      };

      // Enviamos la solicitud AJAX al backend
      fetch('/actualizar_ticket', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if (response.ok) {
              alert('Ticket actualizado exitosamente');
              window.location.reload(); // Recargar la página después de la actualización
          } else {
              alert('Hubo un error al actualizar el ticket.');
          }
      })
      .catch(error => console.error('Error:', error));
  }

  function enviarComentarios() {
    // Obtener el número de ticket seleccionado o ingresado manualmente
    var ticket = document.getElementById('ticket').value;
    if (ticket === 'ingresar') {
        ticket = document.getElementById('numeroTicket').value;
    }

    // Obtener los comentarios
    var comentarios = document.getElementById('comentarios').value;

    // Crear un objeto con los datos a enviar al servidor
    var datos = {
        id_ticket: ticket,
        comentarios: comentarios
    };

    // Enviar los datos al servidor mediante AJAX
    fetch('/comentarios', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
    })
    .then(response => {
        if (response.ok) {
            // Los comentarios se enviaron correctamente
            alert('Comentarios enviados correctamente');
            // Recargar la página para ver los cambios
            window.location.reload();
        } else {
            // Error al enviar los comentarios
            alert('Error al enviar los comentarios. Por favor, inténtalo de nuevo.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Hubo un error al enviar los comentarios. Por favor, verifica tu conexión o inténtalo de nuevo más tarde.');
    });
  }
</script>

</body>
</html>
