<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tickets</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="static/style4.css">
</head>
<body>

  <!-- Header -->
 
  <header class="header">
      <div class="row">
        <div class="col">
          <button class="btn btn-link" onclick="goBack()">
            <i class="fas fa-arrow-left"></i> Regresar
          </button>
        </div>
        <div class="col text-center">
          <h1>Mis Tickets</h1>
        </div>
        <div class="col">
          <!-- elementos al encabezado  -->
        </div>
      </div>
  </header>

   <!-- nav -->
   <nav class="navbar navbar-custom">
    <div></div>
    <div class="nav-btns">
      <a id="editProfileBtn" class="btn btn-primary" href="/edit_profile"><i class="fas fa-user"></i> Administrar Perfil</a>
      <a id="solicitarTicketBtn" class="btn btn-success" href="/solicitar_ticket"><i class="fas fa-ticket-alt"></i> Solicitar Ticket</a>
      <a id="panelClienteBtn" class="btn btn-info" href="/panel_cliente"><i class="fas fa-list-alt"></i> Mis Tickets</a>
    </div>
  </nav>
  

  <!-- Contenido principal -->
  <div class="container mt-4">
   <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>N°ticket</th>
          <th>Autor</th>
          <th>Departamento</th>
          <th>Fecha</th>
          <th>Clasificación</th>
          <th>Detalle</th>
          <th>Status</th>
          <th>Cancelar</th>
        </tr>
      </thead>
      <tbody>
        {%  for elemento in tickets %}
        <tr>
        
          <td>{{ elemento.0 }}</td>
          <td>{{ elemento.1 }} {{ elemento.2 }}</td>
          <td>{{ elemento.3 }}</td>
          <td>{{ elemento.4 }}</td>
          <td>{{ elemento.5 }}</td>
          <td>{{ elemento.6 }}</td>
          <td>{{ elemento.7 }}</td>
          <td><button class="btn btn-danger" onclick="confirmarCancelar('{{ elemento.0 }}')">Cancelar</button></td>
        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 - Todos los derechos reservados</p>
        </div>
      </div>
  </footer>

  <!-- Bootstrap JS (jQuery debe incluirse antes) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Script personalizado -->
  <script>
    function confirmarCancelar(ticketId) {
      if (confirm('¿Seguro desea cancelar el ticket?')) {
        // Enviar una solicitud AJAX al servidor para cancelar el ticket
        fetch(`/cancelar_ticket/${ticketId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                alert('Ticket cancelado exitosamente');
                window.location.reload(); // Recargar la página después de la cancelación
            } else {
                alert('Hubo un error al cancelar el ticket.');
            }
        })
        .catch(error => console.error('Error:', error));
      }
    }
  
    function goBack() {
      window.history.back();
    }
  </script>
  <script>
     document.addEventListener('DOMContentLoaded', function() {
    var editProfileBtn = document.getElementById('editProfileBtn');
    var solicitarTicketBtn = document.getElementById('solicitarTicketBtn');
    var panelClienteBtn = document.getElementById('panelClienteBtn');

    editProfileBtn.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/edit_profile';
    });

    solicitarTicketBtn.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/solicitar_ticket';
    });

    panelClienteBtn.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/panel_cliente';
    });
  });

  </script>
</body>
</html>
