<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>

<div class="container mt-5">
    <div class="float-right">
        <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Perfil" class="profile-image">
    </div>

    <div class="jumbotron text-center mb-5">
        <h1 class="display-4">¡Bienvenido, {{ user_info['username'] }}!</h1>
        <p class="lead">ID cliente: 945542</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Administrar Perfil</h5>
                    <p class="card-text">Personaliza y gestiona tu perfil.</p>
                    <a href="{{ url_for('manage_profile') }}" class="btn btn-primary"><i class="fas fa-user-cog"></i> Ir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Solicitar Ticket</h5>
                    <p class="card-text">Envía una solicitud para obtener asistencia.</p>
                    <a href="{{ url_for('request_ticket') }}" class="btn btn-primary"><i class="fas fa-ticket-alt"></i> Ir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Mis Tickets</h5>
                    <p class="card-text">Consulta el estado de tus tickets.</p>
                    <a href="{{ url_for('my_tickets') }}" class="btn btn-primary"><i class="fas fa-history"></i> Ir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
