<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <!-- Agrega el enlace a Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Agrega el enlace a la biblioteca Draggable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.1-beta.10/draggable.bundle.legacy.min.js"></script>
    <!-- Agrega el enlace al conjunto de iconos FontAwesome -->
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
    <title>Solicitar Ticket</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!--Modificacion para recibir el mensaje que viene del backend hecho por Fred (14/02/2024)-->
    
    <!--{% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for mensaje in mensajes%}
                <p>{{mensaje}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %} -->
    
    <!--Termina modificacion de fred -->
    
    <!-- Header -->
    <header class="header">
            <div class="row">
                <div class="col">
                    <button class="btn btn-link" onclick="goBack()">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </button>
                </div>
                <div class="col text-center">
                    <h1>Solicitar Ticket</h1>
                </div>
                <div class="col">
                    <!-- Puedes agregar más elementos al encabezado si es necesario -->
                </div>
            </div>
    </header>

      <!-- nav -->
      <nav class="navbar navbar-custom">
        <div></div>
        <div class="nav-btns">
        <a id="editProfileBtn" class="btn btn-outline-primary" href="/edit_profile"><i class="fas fa-user"></i> Administrar Perfil</a>
        <a id="consultarTicketsBtn" class="btn btn-outline-info" href="/solicitar_ticket"><i class="fas fa-list-alt"></i> Solicitar Ticket</a>
        <a id="reportesBtn" class="btn btn-outline-warning" href="/mis_tickets"><i class="fas fa-chart-bar"></i> Mis Tickets</a>
        </div>
      </nav>

    <!-- Contenido principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="profile-container text-center">
                    <form action="{{ url_for('solicitar_ticket') }}" method="POST">
                        <div class="form-group">
                            <label for="department">Problemas comunes:</label>
                            <select class="form-control" id="common_problems" name="common_problems" required>
                                <option value="" selected disabled>Seleccionar Incidente</option>
                                <option value="fallas de office">Fallas de Office</option>
                                <option value="fallas de red">Fallas de Red</option>
                                <option value="errores software">Errores de Software</option>
                                <option value="errores hardware">Errores de Hardware</option>
                                <option value="mantenimiento preventivo">Mantenimiento Preventivo</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción:</label>
                            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Entregar</button>
                            <button type="button" class="btn btn-secondary" onclick="cancelRequest()"><i class="fas fa-times"></i> Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Todos los derechos reservados &copy; 2024</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Agrega los enlaces a las bibliotecas de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Tu script personalizado -->
    <script src="{{ url_for('static', filename='solicitud_ticket.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
    // Función para mostrar el mensaje de éxito después de enviar el formulario
    function mostrarMensajeExito() {
        const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
        });
        Toast.fire({
        icon: "success",
        title: "¡Ticket enviado exitosamente!"
        });
    }

    // Agregar un listener al formulario para mostrar el mensaje de éxito después de enviarlo
    document.querySelector("form").addEventListener("submit", function(event) {
        // Muestra el mensaje de éxito
        mostrarMensajeExito();
    });
    </script>

</body>

</html>
