<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tickets</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  
  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="static/style11.css">
  <style>
    /* Estilo para ocultar la barra de desplazamiento */
    body {
      overflow: hidden;
    }
  </style>
</head>
<body>

  <!-- Header -->
 
  <header class="header">
      <div class="row">
        <div class="col">
          <button class="btn btn-link btn-lg" onclick="goBack()">
                <i class="fas fa-home"></i> 
          </button>
        </div>
        <div class="col text-center">
          <h1>Tickets Asignados</h1>
        </div>
        <div class="col">
          <!-- elementos al encabezado  -->
        </div>
      </div>
  </header>

   <!-- nav -->
   <nav class="navbar navbar-custom">
    <div></div>
    <div class="nav-btns">
      <a id="editProfileBtn" class="btn btn-outline-primary" href="/edit_profile"><i class="fas fa-user"></i> Administrar Perfil</a>
      <a id="consultarTicketsBtn" class="btn btn-outline-info" href="/consultar_tickets"><i class="fas fa-list-alt"></i> Tickets Asignados</a>
      <a id="reportesBtn" class="btn btn-outline-warning" href="/reportes"><i class="fas fa-chart-bar"></i> Reportes</a>
    </div>
  </nav>
  

  <div class="container mt-4">
    <!-- Filtros -->
    <div class="row mb-3">
        <div class="col-md-4 filtro-fecha">
            <label for="fecha">
                <i class="fas fa-filter"></i> <!-- Icono para filtrar -->
                Fecha
            </label>
            <input type="date" id="fecha" class="form-control" onchange="cargarTicketsFiltrados()">

        </div>
    </div>
    <div class="table-wrapper">
      <table id="tablaTickets" class="table table-striped">
        <!-- Contenido de la tabla aquí -->
      <thead>
        <tr>
          <th>N°ticket</th>
          <th>Autor</th>
          <th>Departamento</th>
          <th>Fecha</th>
          <th>Clasificación</th>
          <th>Detalle</th>
          <th>Status</th>
          <th>Modificar Status</th>
          <th>Actualizar</th>
          <th>Comentarios recibidos</th>
          <th>Enviar comentarios</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
    <tr>
      <td>{{ ticket[0] }}</td> <!-- Número de ticket -->
      <td>{{ ticket[1] }} {{ ticket[2] }}</td> <!-- Nombre y Apellido del cliente -->
      <td>{{ ticket[3] }}</td> <!-- Departamento -->
      <td>{{ ticket[4] }}</td> <!-- Fecha de expedición -->
      <td>{{ ticket[5] }}</td> <!-- Problema -->
      <td>{{ ticket[6] }}</td> <!-- Descripción del problema -->
      <td>{{ ticket[7] }}</td> <!-- Status -->
      <td>

        {% if ticket[7] == 'cancelado' %}
      

        {% else %}
          
          <select id="selectStatus_{{ ticket[0] }}" class="form-control">
            <option value="">Asignado</option>
            <option value="En Progreso">En Progreso</option>
            <option value="Completado">Completado</option>
            <option value="No solucionado">Nunca Solucionado</option>
          </select>

        {% endif %}
      </td>    
      <td><button class="btn btn-primary" onclick="actualizarTicket('{{ ticket[0] }}','{{ticket[7] }} ')">Actualizar</button></td>
      <td>
        {% if ticket[8] %}
            <button class="btn btn-info" onclick="mostrarComentarios('{{ ticket[8] }}')">Ver comentarios</button>
        {% else %}
            <p>No hay comentarios</p>
        {% endif %}
    </td>
    <td><button class="btn btn-success" onclick="mostrarModalComentarios('{{ ticket[0] }}')">Comentarios</button></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  </div>

   <!-- Modal para mostrar comentarios -->
<div class="modal fade" id="comentariosModal" tabindex="-1" role="dialog" aria-labelledby="comentariosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comentariosModalLabel">Comentarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="comentariosTexto"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Enlace para abrir el modal -->
  <a href="#mostrarModalComentarios" data-toggle="modal"></a>

  <!-- Modal para comentarios u observaciones -->
  <div class="modal fade" id="mostrarModalComentarios" tabindex="-1" role="dialog" aria-labelledby="mostrarModalComentariosomentariosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mostrarModalComentarios">Enviar Comentarios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Un solo formulario que contiene todos los campos -->
          <form id="form-comentarios">
            <div class="form-group">
              <label for="tipoUsuario">Seleccione el tipo de usuario:</label>
              <select class="form-control" id="tipoUsuario">
                <option value="cliente_aux">Cliente</option>
              </select>
            </div>

            <div class="form-group">
              <label for="ticket">Seleccione o ingrese el número de ticket:</label>
              <select class="form-control" id="ticket" onchange="checkOption(this)">
                  <option value="">Seleccionar</option>
                  {% for ticket in tickets %}
                    <option value="{{ ticket[0] }}">{{ ticket [0] }} - {{ ticket[5] }}</option>
                  {% endfor %}
                  
              </select>
              <input type="text" class="form-control mt-2" id="numeroTicket" placeholder="Ingresar número de ticket" style="display:none;">
              <input type="hidden" id="id_ticket" name="id_ticket" value="">
            </div>

            <!-- Campo para ingresar comentarios -->
            <div class="form-group">
              <label for="comentarios">Comentarios/Observaciones:</label>
              <textarea class="form-control" id="comentarios" name="comentarios" rows="3"></textarea>
            </div>
            <!--Campos ocultos para TipoUsuario e Id_ticket-->
            <input type="hidden" id="hiddenTipoUsuario" name="tipoUsuario" value="">
            <input type="hidden" id="hiddenIdTicket" name="id_ticket" value="">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" onclick="enviarComentarios()">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="row">
      <div class="col-md-6 text-left">
        <p>© 2024 - Todos los derechos reservados</p>
      </div>
      <div class="col-md-6 text-right">
        <p>ENGINEERING <span class="resaltado">YOUR</span> SUCCESS.</p>
      </div>
    </div>
  </footer>  

  <!-- Bootstrap JS (jQuery debe incluirse antes) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Script personalizado -->

  <script>

    function goBack(){
      window.history.back();

    }
    
    function checkOption(select) {
        var option = select.value;
        var numeroTicketInput = document.getElementById('numeroTicket');

        if (option === 'ingresar') {
            numeroTicketInput.style.display = 'block';
        } else {
            numeroTicketInput.style.display = 'none';
        }
    }
  </script>


<script>
  function actualizarTicket(ticketId, status) {
    if (status === 'cancelado'){
      alert('no puedes actualizar un ticket cancelado');
      return;
    }

      var selectElement = document.getElementById('selectAuxiliar_' + ticketId);
      var selectedAuxiliar = selectElement ? selectElement.value : null;

      if (!selectedAuxiliar) {
          alert('Por favor, modifique el status del ticket para actualizar');
          return;
      }

      // Información a enviar al backend
      var data = {
          ticketId: ticketId,
          auxiliar: selectedAuxiliar,
          status: 'asignado'
      };

      // Enviamos la solicitud AJAX al backend
      fetch('/actualizar_ticket', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if (response.ok) {
              alert('Ticket actualizado exitosamente');
              window.location.reload(); // Recargar la página después de la actualización
          } else {
              alert('Hubo un error al actualizar el ticket.');
          }
      })
      .catch(error => console.error('Error:', error));
  }

  function mostrarComentarios(comentarios) {
        var comentariosTexto = document.getElementById('comentariosTexto');
        comentariosTexto.innerText = comentarios;

        $('#comentariosModal').modal('show'); 
    }
</script>

<script>
function cargarTicketsFiltrados() {
    var fecha = document.getElementById('fecha').value;
    var tablaTickets = document.getElementById('tablaTickets').getElementsByTagName('tbody')[0];
    var filas = tablaTickets.getElementsByTagName('tr');

    // Si la fecha seleccionada es vacía, mostrar todas las filas nuevamente
    if (fecha === '') {
        for (var i = 0; i < filas.length; i++) {
            filas[i].style.display = '';
        }
        return; // Salir de la función ya que no hay que filtrar por fecha
    }

    // Iterar sobre todas las filas de la tabla
    for (var i = 0; i < filas.length; i++) {
        var celdas = filas[i].getElementsByTagName('td');
        var fechaTicket = celdas[3].innerText; // La fecha está en la cuarta columna (índice 3) de cada fila

        // Si la fecha del ticket coincide con la fecha seleccionada, mostrar la fila; de lo contrario, ocultarla
        if (fechaTicket === fecha) {
            filas[i].style.display = '';
        } else {
            filas[i].style.display = 'none';
        }
    }
}
</script>

<script>
  function mostrarModalComentarios(ticketId) {
    // Muestra el modal de comentarios
    $('#mostrarModalComentarios').modal('show');
    // Aquí puedes realizar acciones adicionales si es necesario, como cargar los comentarios del ticket seleccionado, etc.
  }
</script>

<script>
  function enviarComentarios() {
    // Obtener el número de ticket seleccionado o ingresado manualmente
    var ticket = document.getElementById('ticket').value;
    if (ticket === 'ingresar') {
        ticket = document.getElementById('numeroTicket').value;
    }

    // Obtener los comentarios
    var comentarios = document.getElementById('comentarios').value;

    // Obtener el tipo de usuario seleccionado
    var tipoUsuario = document.getElementById('tipoUsuario').value;

    // Establecer los valores en los campos ocultos
    document.getElementById('hiddenIdTicket').value = ticket;
    document.getElementById('hiddenTipoUsuario').value = tipoUsuario;

    // Crear un objeto con los datos a enviar al servidor
    var datos = {
        id_ticket: ticket,
        tipoUsuario: tipoUsuario,
        comentarios: comentarios
    };

    // Enviar los datos al servidor mediante AJAX
    fetch('/comentarios', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
    })
    .then(response => {
        if (response.ok) {
            // Los comentarios se enviaron correctamente
            alert('Comentarios enviados correctamente');
            // Recargar la página para ver los cambios
            window.location.reload();
        } else {
            // Error al enviar los comentarios
            alert('Error al enviar los comentarios. Por favor, inténtalo de nuevo.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Hubo un error al enviar los comentarios. Por favor, verifica tu conexión o inténtalo de nuevo más tarde.');
    });
  }
</script>

</body>
</html>
